table{

    th {
        background-color: black;
        color: white;
        padding: 20px 0px;
      }

      tr:nth-child(even) {
        background-color:silver;
      }

      tr{
        cursor:pointer;
      }
}

  
  
  